//21130482_LeBaPhung_0336677141_DH21DTC
$bg-color: black;
$text-color: white;
$bt-color: greenyellow;
$timeline-color: darkblue;

* {
  font-family: "Press Start 2P", system-ui;
  color: $text-color;
  margin: 0;
}

body {
  background-image: url("/images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  justify-content: center;
  place-items: center;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  text-align: center;
}

p {
  color: yellow;
  font-size:40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn{
  background-color: $bt-color;
  font-size: 25px;
  height: 60px;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}
.btn-group {
  display: flex;
  #play-btn {
    background-color: $bt-color;
    font-size: 15px;
    width: 400px;
    height: 60px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
  }
}

.level-box {
  display: flex;
  padding: 20px 0;

  .level {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #163054;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.level input[type="radio"] {
  display: none;
}

.level input[type="radio"]:checked + label {
  background-color: $bt-color;
}
#guide-box, #information-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  z-index: 9;
  background-color: #2c3e50; /* Adjust the background color as needed */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a box shadow for a subtle effect */
  img{
    margin-left: 10px;
    width: 20%;
    height: 20%;
  }
  .more{
    font-family: 'Arial', serif;
    font-size: 18px;
    margin: 5px 0;
    padding-left: 15px;
  }
}
.inforItem{
  font-family: 'Arial', serif;
  font-size: 20px;
  padding: 5px 0;
}